@use "sass:math";
// ===========================================
// functions 関数
// ===========================================

/* Only output numerical values
/* 数値のみ出力する
====================================== */
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }
  @return $number;
}

// ========================================
// variables 変数一覧
// ========================================
/* font $size
====================================== */
$font-size-default: 16px;

/* font family
====================================== */
$font-family-icon: 'FontAwesome', FontAwesome;
$font-family-base: 'Noto Sans JP', sans-serif;
$font-family-crimson: 'Crimson Text', serif;
$font-family-gothic: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
$font-family-mincho: 'Noto Serif JP', serif;

/* Break point ブレイクポイント
====================================== */
// min-width
$breakpoint-up: (
  's': 640px,
  'm': 960px,
  'l': 1200px,
) !default;

// max-width → minから1px減らす
$breakpoint-down: () !default;
@each $tag, $size in $breakpoint-up {
  $breakpoint-down: map-merge($breakpoint-down, (#{$tag}: $size - 1));
}


/* max site width コンテンツ最大幅
====================================== */
$max-width-s: 900px;
$max-width-m: 1100px;
$max-width-l: 1260px;

/* colors 色管理
====================================== */
$colors: (
  text: #222222, // default text color テキストメイン
  main: #00524C, // main key color メインカラー
  danger: red,
  white: #fff,

  // sns colors
  facebook: #3b5999,
  twitter: #1da1f2,
  youtube: #cd201f,
  line: #18ba07,
) !default;
